* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


@media all and (max-width: 575px) {
    body {
        font-size: 22px
    }

    .service-topic {

    }
}

@media all and (min-width: 576px) {
    body {
        font-size: 20px
    }

    .service-topic {

    }
}

@media all and (min-width: 768px) {
    body {
        font-size: 20px
    }

    .service-topic {

    }
}

@media all and (min-width: 992px) {
    body {
        font-size: 18px
    }

    .service-topic {

    }
}

@media all and (min-width: 1200px) {
    body {
        font-size: 18px
    }

    .service-topic {

    }
}

@media all and (min-width: 1400px) {
    body {
        font-size: 18px
    }

    .service-topic {
        font-size: 48px;
    }
}

.first-section-background {
    background: url("./background/services1.jpg") no-repeat top center rgba(27, 54, 72, 0.5) local;
    background-blend-mode: overlay;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    width: 100%;
    height: 100%;
}

.page-header {
    width: 100%;
    position: fixed;
    padding: 0 7vh;
    height: 3.2rem;
}

.nav-bar {
    height: 100%;
    width: 100%;


    display: flex;
    justify-content: space-between;
}

.main-nav,
.user-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-nav-item {
    margin-left: 2em;
}

.nav-item-link {
    font-family: Raleway, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: rgba(242, 246, 255, .75);
}

.page-main {
    width: 100%;
    height: 100%;
}

.first-section {
    display: flex;
    justify-content: center;
}

.first-section-content {
    display: flex;
    /*padding-top: 3.2rem;*/
    padding: 0 7vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.arrow {
    margin: 0;
    width: 60px;
    height: 60px;
    border-top: 1px solid rgba(242, 246, 255, 1);
    border-right: 1px solid rgba(242, 246, 255, 1);
    cursor: pointer;
}

.arrow-left {
    transform: rotate(-125deg);
}

.arrow-right {
    transform: rotate(45deg);
}

.service-content {
    display: flex;
    justify-content: flex-end;
}

.service-topic-and-buttons {
    width: 50%;
    height: 100%;

}

.service-topic {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
}

.service-button {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    border: none;
    width: 14rem;
    height: 3.7rem;
    font-size: inherit;
    cursor: pointer;
}

.service-button-order {
    background-color: rgba(255, 120, 46, 1);
}

.service-button-details {
    background-color: rgba(0, 51, 102, 1);
}
