@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bundles/css/app.css"/>
</head>
<body>
<div id="app"></div>
<script src="~/bundles/js/chunk-vendors.js" asp-append-version="true"></script>
<script src="~/bundles/js/app.js" asp-append-version="true"></script>
</body>
</html>